@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
}

.rec.rec-pagination {
  display: none;
}

hr {
  border: none;
  height: 0.2px;
  /* Set the hr color */
  background-color: rgb(158, 158, 158); /* Modern Browsers */
}

.loader {
  border-top-color: grey;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
